@import "./variables";

body {
    @for $i from 1 through 6 {
        h#{$i} {
            color: $black;
        }
    }
    p {
        color: $black;
    }
    a {
        color: $light;
    }
}

a {
    font-weight: bold;
    text-decoration: underline;
}